#add_pupils{
    background-color: #F7E9E9;
    border-radius: 5px;
}
#icon_add_pupils{
    float:right;
    margin-right: 5px;
    margin-top: 2px;
}

#add_pupils_col{
    background-color: #F7E9E9;
    border-radius: 5px;
    margin:10;
}