
td{
	width: 60px;
	border-right: 3px solid #FFFFFF;
}

table{
	height: 550px
	border: none;
	border-collapse:collapse;
}
.graph{
	height: 55px
}

.axeY{
	border-left: 2px solid #000000;
}

#horizontal_bar{
	border: 1px solid #000000;
	width: 550px;
}
.libelle{
	font-size: 75%;
	width: 60px;
}