#div_connection{
    height: 200px;
    width: 400px;
    border-style: solid;
    border-radius: 20px;
	margin:0 auto;
	border-color: firebrick;
     position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

.input_login{
	text-align: center;
    margin: 20px;

}

input[type="text"],input[type="password"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
}

input[type="text"]:focus,input[type="password"]:focus{
    border: solid 5px #969696;
    outline:none;
}

.label_login{
    display: inline-block;
    width: 100px;
    text-align: right;
}

.submit{
    cursor:pointer;
padding:5px 25px; 
background: firebrick;
border:1px solid #888686;
border-radius: 10px;

color:#f3f3f3;
font-size:1.1em;
}

.submit:hover{
background-color :indianred;
box-shadow: 0 0 1px rgba(0,0,0, .75);
}