html{
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}

.logo{
    width: 300px;
    height: 100px
}


input[type="text"],input[type="password"], input[type="checkbox"], input[type="date"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
}

input[type="text"]:focus,input[type="password"], input[type="checkbox"], input[type="date"]:focus{
    border: solid 5px #969696;
    outline:none;
}

select{
    border: solid 5px #969696;
    outline:none;
    height: 34px;
}

.submit{
    cursor:pointer;
padding:5px 25px; 
background: firebrick;
border:1px solid #888686;
border-radius: 10px;

color:#f3f3f3;
font-size:1.1em;
}

.disabled{
    background-color :indianred;
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

.submit:hover{
background-color :indianred;
box-shadow: 0 0 1px rgba(0,0,0, .75);
}

#top_bar{
    background-color: #B22222;
}

#nav_bar{
	width: 180px;
	background-color: #404040;
	float: left;
	position: fixed;
	height: 100%;
        overflow: hidden;
        outline: none;
}

.item_navbar{
	background-color:#505050;
        height: 30px; 
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 2px;
}
.item_navbar:hover{
	background-color:#BF5454;
}
.inside_item_navbar{
    vertical-align: sub;
}

.triangle_item_navbar{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #a0a0a0;
    float:right;
    margin-top: 11px;
    margin-right: 8px;
}

.selected_navbar{
    background-color: #BF5454;
}

.body_write{
    margin-left: 180px;
    padding-right: 20px;
    padding-left: 20px;
}

#include_html_here{
    padding: 25px;
}

.input{
    margin: 20px;

}

.label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.Column
{
    display: table-cell;
}
#add{
    background-color: #F7E9E9;
    border-radius: 5px;
    padding: 10;
}
#csv{
    margin-top: 10px;
    background-color: #F7E9E9;
    border-radius: 5px;
    padding: 10;
}
#icon_add{
    float:right;
    margin-right: 5px;
    margin-top: 2px;
}
#icon_add_csv
{
    float:right;
    margin-right: 5px;
    margin-top: 2px;
}
.div_{
    background-color: #F7E9E9;
    border-radius: 5px;
    margin:10;
    padding: 10;
}

#filter{
    background-color: firebrick;
    width: 100px;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#deconnexion{
    float: right;
    line-height: 100px;
}
.profile{
    background-color:rgba(247, 111, 101, 0.16);
}

.erreur{
    color : red;
}

.dg-arrange-table-rows-drag-icon{
    background-color: #FF7292;
    cursor: move;
}

[ondragover] {
    width: 300px;
    height: 200px;
}
[draggable] {
    width: 200px;
    height: 35px;
    margin-bottom: 5px;
    background-color: #BF5454;
    cursor: move;
}

[draggable]:nth-child(even) {
    background-color: #FFD6D6;
}

.drag{
    height: 500px;
    width: 300px;
    border: 1px solid black;
    overflow:auto;
}

.drag li {
    margin:4px;
    border: 1px solid #000;
    border-radius:2px;
    cursor: move;
    text-align:center;
    padding:2px;
    box-shadow: 1px 1px 12px #555;
    background-color:white;
    list-style-type:none;
}