<!DOCTYPE html>
<html>
	<head>
		<title>School Supplies</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/index.css">
	</head>
	<body>
		<div id="top_bar">
			<img src="../static/img/logo_moche.png" class="logo"/>
		</div>
		<div>
                    <div id="nav_bar">
                            <div class="item_navbar selected_navbar" id="item_toto">
                               <span class="triangle_item_navbar"></span><span class="inside_item_navbar">Accueil</span>
                            </div>
                            <div class="item_navbar" id="item_toto">
                                <span class="triangle_item_navbar"></span><span class="inside_item_navbar">blabla</span>
                            </div>
                    </div>
                    <div class="body_write">
                        <!-- include your text here -->
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Fusce laoreet porttitor sapien et commodo. 
                            Pellentesque pretium consequat sem, at sollicitudin mauris ullamcorper sit amet.
                            Mauris iaculis commodo nisi vitae auctor. Sed vel sodales eros, ut pharetra justo. 
                            Etiam non est a nunc ullamcorper elementum eget et velit.
                            Sed nisl elit, scelerisque id ultrices a, commodo eget libero. 
                            Praesent in enim lacus. Phasellus nec ex libero. 
                            Curabitur lacinia efficitur ex vel sagittis.
                        </div>
		</div>
	</body>
</html>